JamSQLLogin {
    org.apache.openejb.core.security.jaas.SQLLoginModule required
    dataSourceName = "jamDS"
    userSelect = "SELECT username, passwordHash FROM Users WHERE LOWER(username) = LOWER(?) AND IsActive = 1"
    groupSelect = "SELECT u.username, r.name FROM Users u, Role r, UserHasRoles uhr WHERE LOWER(username) = LOWER(?) AND IsActive = 1 AND u.id = uhr.UserId AND uhr.RoleId = r.id";
};